@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;400;600;700&display=swap);

:root {
  --background-color: #9fa4c4;
  --background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
  --primary: #9775fa;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1.5rem;
}

.card {
  background: var(--white);
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 2.5rem;
  max-width: 40rem;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-out;
  transform-origin: top left;
}

.card-preview {
  height: 25rem;
  position: relative;
  overflow: hidden;
}

.btn-prev,
.btn-add {
  position: absolute;
  border: none;
  background: none;
}

.btn-prev {
  padding: 1rem;
  top: 5%;
  left: 5%;
  z-index: 1;
}

.hide {
  transform: scale(0);
}

.btn-prev svg {
  width: 3.2rem;
  height: 3.2rem;
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 30px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn-prev svg:hover {
  stroke: rgba(255, 255, 255, 1);
}

.btn-add {
  top: 65%;
  left: 80%;
  padding: 0.5rem;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 5px 5px rgba(134, 102, 230, 0.15);
}

.btn-add * {
  width: 4.2rem;
  height: 4.2rem;
  color: var(--white);
}

.card-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  filter: brightness(0.75);
}

/* CARD CONTENT */
.card-content {
  padding: 3rem;
}

.artiste-name {
  color: var(--primary);
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.artiste-bio {
  color: #444;
  opacity: 0.6;
  margin-bottom: 2rem;
  line-height: 1.35;
}

.artiste-collection .title {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.artiste-collection .albums {
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.artiste-collection .album {
  width: 11rem;
  height: 11rem;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.artiste-collection .album:hover {
  transform: scale(1.2);
  z-index: 2;
  /* box-shadow: 0 0px 2px 3px rgba(0, 0, 0, 0.1); */
}

.artiste-collection .album img {
  width: 11rem;
  height: 100%;
  object-fit: cover;
}
