@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700&display=swap);

:root {
  --bdy-bg: #0a0a0a;
  --color-primary: #fa5252;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: var(--bdy-bg);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 16rem 8rem;
  color: white;
}

.tag {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  width: 30rem;
  padding: 2rem;
  color: white;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tag .title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.tag .plan {
  font-size: 1.45rem;
  font-weight: 600;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.choose-bill {
  font-size: 1.4rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  width: 6rem;
  height: 3rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 20rem;
  background: #a3a3a3;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease;
}

.toggle-btn.active {
  background: var(--color-primary);
}

.toggle-div {
  position: absolute;
  left: 7.5%;
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all 0.25s ease;
}

.toggle-div.active {
  left: 57.5%;
}

.btn.active {
  color: var(--color-primary);
  transition: all 0.5s ease;
}

/* CARD CONTAINER */
.card-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  width: 29rem;
  height: 42rem;
  background: #171717;
  color: white;
  padding: 2rem 4rem;
  text-align: center;
  border-radius: 8px;
  position: relative;
}

.card > h3 {
  font-size: 1.7rem;
}

.card > .price {
  font-size: 4.2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.features__list {
  text-align: left;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.feature::marker {
  color: var(--color-primary);
  font-size: 1.2rem;
}

.feature {
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
}

.features__list::marker .feature {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-wrap: nowrap;
}

.btn-choose {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: none;
  background: none;
  color: white;
  border: 1px solid var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-choose:hover {
  background: var(--color-primary);
  color: white;
}

.card-2 {
  padding: 2.5rem;
}

.card-2 .price {
  margin-bottom: 2rem;
}

.card-2 > .price > span {
  font-size: 1.4rem;
}

.card-2 select {
  width: 100%;
  padding: 1.5rem 2.5rem;
  margin-bottom: 0.25rem;
  background: transparent;
  color: #ddd;
  border: 2px solid #444;
  border-radius: 4px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
}

.card-2 select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #ddd transparent transparent transparent;
  /* color: #ddd; */
  pointer-events: none;
}

.card-2 select:focus,
.card-2 select:active {
  outline: none;
}

small {
  display: block;
  color: var(--color-primary);
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: left;
  margin-left: 2rem;
}

.card-3 .price {
  font-size: 2.8rem;
  margin-top: 3rem;
}
