@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700&display=swap);

:root {
  --bdy-bg: #67e8f927;
  --container-bg: #fff;
  --container-before: #0c4a6e;
  --btn-checkout-bg: #1c7ed6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: var(--bdy-bg);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  background: var(--container-bg);
  padding: 4rem;
  width: 35rem;
  border-radius: 3rem;
  position: relative;
}

.container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #1970c223;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-12.5%, -10%);
  border-radius: 3rem;
  z-index: -1;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cart-id {
  font-size: 1.15rem;
}

.item-info {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2rem;
  justify-items: start;
  align-items: start;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.btn-stock {
  display: inline-block;
  border: none;
  background: #84cc16;
  border-radius: 100px;
  color: white;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
}

.qty-container {
  margin: 1.5rem 0 1rem;
  grid-column: 2 / 3;
}

.btn-decrement,
.btn-increment {
  border: none;
  border-radius: 5px;
  background: #93c4fd59;
  padding: 0.25rem;
  width: 3rem;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-decrement:hover,
.btn-decrement:active,
.btn-increment:hover,
.btn-increment:active {
  background: #93c4fd74;
}

.quantity {
  width: 3rem;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  font-size: 1.2rem;
  font-family: inherit;
  text-align: center;
  appearance: none;
}

.quantity:focus {
  outline: none;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.upper {
  border-bottom: 2px solid #ddd;
}

.lower {
  padding: 2rem 0;
}

.standard,
.vat,
.nok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.standard > p,
.vat > p,
.nok > p {
  font-size: 1.2rem;
}

.nok > p {
  font-weight: 600;
}

a {
  font-size: 1rem;
}

.btn-checkout {
  margin-top: 3rem;
  display: block;
  width: 100%;
  padding: 1.25rem;
  border: none;
  background: var(--btn-checkout-bg);
  border-radius: 100px;
  color: #fff;
  font-size: 1.35rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-checkout:hover {
  background: #1971c2;
  transform: translateY(-0.1rem) scale(1.01);
}
