@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700&display=swap);

:root {
  --bdy-bg-clr: #a3a3a3;
  --card-bg: rgba(2, 34, 36, 0.896);
  --card-bg: #183d3d;
  --title-clr: #fff;
  --article-info-clr: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--bdy-bg-clr);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--card-bg);
  width: 30rem;
  height: 45rem;
  animation: cardReveal 1s ease-in 0.8s;
}

.upper {
  padding: 3rem;
  height: 85%;
}

.img-box {
  width: 100%;
  height: 47.5%;
  margin: 0 0 2rem;
  overflow: hidden;
  position: relative;
}

.img-box img {
  width: 100%;
  transform: scale(1.1);
  height: 15rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.video-player-box {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all 0.5s;
}

.video-player-box:hover {
  opacity: 1;
}

.video-player {
  width: 4.8rem;
  height: 4.8rem;
  background-color: white;
  opacity: 70%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

svg {
  fill: black;
  width: 2.8rem;
  height: 2.8rem;
}

.img-box img:hover {
  transform: scale(1);
}

.title {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.article-info {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.5rem;
  color: var(--article-info-clr);
}

.date {
  background-color: rgba(11, 82, 85, 0.98);
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 100px;
}

.article {
  font-size: 1.15rem;
}

.text {
  text-align: justify;
}

.lower {
  /* margin: 0; */
  padding: 0 3rem;
  height: 15%;
  background-color: rgba(11, 82, 85, 0.878);
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
}

.likes {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--article-info-clr);

  transition: all 0.2s ease;
}

.icon-heart {
  fill: #ef4444;
}

.icon:hover {
  transform: scale(1.3);
}

.likes p {
  font-size: 1.1rem;
  color: var(--article-info-clr);
}

/* @keyframes cardReveal {
  0% {
    opacity: 0;
    transform: translateX(500%) rotate(1080deg);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translate(0) rotate(0deg);
  }
} */

/* ROHIT'S CODE */
/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;

}

::-webkit-scrollbar-thumb {
    background: #e98305;
    border-radius: 30px;
} */
